@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<MusicStore.Models.Albums>
@helper DisplayTitle(string Title,int len)
{
if(Title.Length>len)
    {
        @Title.Substring(0,len-3)<text>...</text>;
}
else
{
        @Title;
}
}

@{
    ViewBag.Title = "Index";
    
    ViewBag.Num = Convert.ToString((Convert.ToInt32(ViewBag.PageSize)*(Convert.ToInt32(ViewBag.CurrentPage)-1)+1));
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("Search","")
    <input type="submit" value="搜索" class="btn btn-default" />
}

<table class="table">
    <tr>
        <th>
            序号
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artists.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </th>
        <th></th>
    </tr>
   
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @ViewBag.Num
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artists.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genres.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.AlbumArtUrl)" alt="Test!"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlbumId })
            </td>
        </tr>
        {
          int  i = Convert.ToInt32( ViewBag.Num);
            i++;
        ViewBag.Num= i.ToString();
         }
    }
</table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new { ViewBag.Search, page }))

